<%- include('partials/header') %>

<main class="aboutejs">



  <h1 class="h11t">About Minecraft Mobs</h1>

  <div class="about-container">

    <img class="about-img"
      src="https://i.ytimg.com/vi/P2PJ6GhvJ9k/maxresdefault.jpg"
      alt="Minecraft image"
    >

    <p class="p3">
      Minecraft is more than just a world of blocks. It’s also a world of mobs.<br>
      They are mobile objects that live in different dimensions of Minecraft.<br>
    </p>

  </div>

</main>

<%- include('partials/footer') %>


