<%- include('partials/header') %>

<main>


<%# Container  for evrything%>
  <div class="main-container">

    <%# Block Title %>
    <div class="main-title">
      <p class="p1"><%= title %></p>
    </div>

        <%# Container to conect table and images under title %>
        <div class="content-block"> 
          <table>

            <thead>
              <tr>
                <th>Mobs</th>
                <th>List of mobs</th>
                <th>Newest news</th>
              </tr>
            </thead>

          <tbody>
            <td>Minecraft features over 80-90 unique mobs</td>
            <td>There are over 220+ obtainable mob variations (including different types of horses, llamas, sheep, etc.).</td>
            <td>Tiny Takeover has officially stormed Minecraft with new versions of baby mobs causing cuteness overload across biomes and builds! Pack your golden dandelions, craft name tags, and get ready to collect, cuddle, and coo over our new tiny rascals.</td>
            

          </tbody>

          <tfoot>

          </tfoot>



          </table>



           <img class="main-img" src="https://cms-assets.xboxservices.com/assets/65/15/6515e0be-8482-48bb-97f9-737010626408.jpg?n=Minecraft_Sneaky-Slider-1084_Tiny-Takeover_1600x675.jpg%202"
            alt="Þú getur ekki séð þessu mynd" placeholder="Minecraft"> 



        </div>

  </div>


</main>


<%- include('partials/footer') %>